/******************************************************Start Header*********************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: #00004d;
}

.topleftnav {
  z-index: 14;
  background-color: #00004d;
  overflow: hidden;
  height: 40px;
}

.topleftnav a,
b {
  color: #a4afb5;
  position: relative;
  top: 10px;
  left: 15px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.topleftnav a:hover,
.toprightnav a:hover {
  text-decoration: none;
  border-top: 4px solid #fff;
  transition: all 300ms linear;
}

.toprightnav {
  float: right;
  z-index: 14;
  margin-right: 120px;
}

/******************************************************End Header*********************************************************/
/******************************************************Start Search*********************************************************/
.search-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  top: 5px;
  left: 42.5%;
  background: rgba(0, 0, 115, 0.5);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 10000;
}

.search-container.morphing {
  max-width: 100%;
  min-height: 100%;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
}

.search-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: padding 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.morphing .search-inputs {
  padding: 24px 0;
}

.search-container .search {
  width: calc(100% - 64px);
  max-width: 100%;
  height: 30px;
  padding: 8px 32px;
  border-radius: 20px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  color: #fff;
}

.search-container .submitBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background: linear-gradient(to top right, #8239e6, #3aafe6);
  border: 0;
  border-radius: 100px;
  margin-left: -38px;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  cursor: pointer;
  color: #fff;
}

.search-container.morphing .submitBtn {
  height: 30px;
  width: 30px;
  margin-left: -30px;
}

.search-container .submitBtn:hover,
.search-container .submitBtn:focus {
  opacity: 0.5;
}

.search-container .closeBtn {
  border: 0;
  background: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  color: #aaa;
  font-size: 2em;
  transition: all 0.5s;
  opacity: 0;
  transform: scale(0);
  cursor: pointer;
}

.search-container.morphing .closeBtn {
  opacity: 1;
  transform: scale(1);
}

.search-container.morphing .search {
  width: 70%;
  max-width: 400px;
  border-radius: 100px;
  font-size: 32px;
  padding: 16px 48px 16px 32px;
  border: 0 transparent;
  border-bottom: 1px solid #8239e6;
}

.search-results {
  width: 100%;
  height: 0;
  margin-bottom: -48px;
  overflow: auto;
  background: linear-gradient(to top right, #8239e6, #3aafe6);
  transition: all 0.5s;
}

.showresults .search-results {
  height: 80vh;
}

.search-results ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.search-results li {
  padding: 0;
  margin: 2em auto;
  width: 400px;
  max-width: 100%;
  height: 100px;
  background: #fff;
  border-radius: 4px;
  opacity: 0;
  transform: scale(0.5);
  box-shadow: 0 16px 16px -16px rgba(0, 0, 0, 0.4);
  transition: all 0.275s;
}

.showresults .search-results li {
  opacity: 1;
  transform: scale(1);
}

.showresults .search-results li:nth-child(2) {
  transition-delay: 0.05s;
}

.showresults .search-results li:nth-child(3) {
  transition-delay: 0.1s;
}

.showresults .search-results li:nth-child(4) {
  transition-delay: 0.15s;
}

.showresults .search-results li:nth-child(5) {
  transition-delay: 0.2s;
}

.showresults .search-results li:nth-child(6) {
  transition-delay: 0.25s;
}

.showresults .search-results li:nth-child(7) {
  transition-delay: 0.3s;
}

.showresults .search-results li:nth-child(8) {
  transition-delay: 0.35s;
}

.showresults .search-results li:nth-child(9) {
  transition-delay: 0.4s;
}

/* Hide label */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/********************************************************End Search************************************************************/
/******************************************************Start Translate*********************************************************/

.language {
  position: absolute;
  top: 15;
  z-index: 14;
  right: 0;
  top: 5px;
}

.language-selected {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  min-width: 100px;
  height: 10px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 15px 15px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.language-selected:focus .droplang,
.language-selected:active .droplang {
  transform: translate(0, 20px);
  opacity: 1;
  visibility: visible;
}

.language-selected .fa-solid {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

.language-selected .droplang {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.language-selected .droplang:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 65px;
  width: 0;
  height: 0;
  box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
  border-top: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  transform: rotate(-45deg);
  mix-blend-mode: multiple;
}

.language-selected .droplang li {
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 20px;
  color: #666;
}

.language-selected .droplang li:first-child {
  border-radius: 4px 4px 0 0;
}

.language-selected .droplang li:last-child {
  border-radius: 0 0 4px 4px;
}

.language-selected .droplang li:last-child a {
  border-bottom: 0;
}

.language-selected .droplang a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 0 30px;
  color: inherit;
  font-size: 10px;
  text-decoration: none;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.language ul li:hover {
  background-color: #fff;
}

.language ul li a:before {
  position: absolute;
  content: "";
  left: -20px;
  bottom: 20px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

a.en:before {
  background-image: url("../IMG/English.png");
}

a.id:before {
  background-image: url("../IMG/Indonesia.png");
}

.language:hover ul {
  display: block;
}

ul li {
  list-style-type: none;
}

/******************************************************End Translate***********************************************************/
/*************************************************Start Header Secondary*******************************************************/
.logo {
  position: absolute;
  width: 325px;
  top: 55px;
  left: 20px;
  z-index: 12;
}

.hList {
  z-index: 12;
  display: flex;
  float: right;
}

.menu {
  display: block;
  position: relative;
  z-index: 12;
  color: #fff;
  cursor: pointer;
}

.menu-title {
  display: block;
  width: 140px;
  height: 40px;
  padding: 25px 0 50px;
  text-align: center;
  font-size: 18px;
  transition: 0.3s background-color;
}

.menu-dropdown {
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: rgba(0, 0, 100, 0.7);
  border-radius: 5%;
  z-index: 12;
  transition: 0.5s padding, 0.5s background;
}

.menu:not(:hover)>.menu-dropdown {
  padding: 4px 0;
  z-index: 12;
}

.menu-dropdown>* {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  white-space: nowrap;
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5),
    0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5),
    0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color,
    0.2s background-color;
}

.menu:not(:hover)>.menu-dropdown>* {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color,
    0.6s visibility;
  z-index: 12;
}

/**************************************************End Header Secondary********************************************************/
/****************************************************Start SlideShow***********************************************************/
.container {
  position: relative;
  display: block;
  overflow: hidden;
  bottom: 75px;
  width: 100%;
  height: 100vh;
}

.slider {
  display: flex;
  width: 1000%;
  height: 35rem;
  transition: all 0.25s ease-in;
  transform: translateX(0);
}

.slider .box {
  height: 105%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  position: relative;
}

.box img {
  position: relative;
  width: 100%;
  height: 100%;
}

.prev,
.next,
.trail {
  position: absolute;
}

.prev,
.next {
  width: 4rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.trail div {
  padding: 1rem;
  border-top: 5px solid #fff;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.trail div:hover {
  opacity: 0.6;
}

.active {
  opacity: 1 !important;
}

.trail {
  bottom: 25px;
  right: 200px;
  transform: translateX(-50%);
  width: 5%;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

/*****************************************************End SlideShow************************************************************/
/****************************************************Start Scroll Arrow********************************************************/
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 11;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

/*****************************************************End Scroll Arrow*********************************************************/
/*****************************************************Start Grid Layout********************************************************/
@supports (display: grid) {
  .grid {
    display: grid;
    margin-top: -100px;
    grid-gap: 1vw;
    height: 216vh;
    padding: 1vw;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50vh 30vh repeat(7, minmax(20vh, 1fr));
    grid-template-areas:
      "hero   hero"
      "big1   big1"
      "med1   med1"
      "med2   med2";
  }

  @media screen and (min-width: 750px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 50vh);
      grid-template-areas:
        "hero   hero   hero   med1   med1"
        "hero   hero   hero   med2   med2"
        "big1   big1   big1   big1   big1";
    }
  }

  @media screen and (min-width: 1400px) {
    .grid {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        "hero   hero   hero   med1   med1"
        "hero   hero   hero   med2   med2"
        "big1   big1   big1   big1   big1";
    }
  }

  .grid .item:nth-child(1) {
    grid-area: hero;
  }

  .grid .item:nth-child(2) {
    grid-area: big1;
  }

  .grid .item:nth-child(3) {
    grid-area: med1;
  }

  .grid .item:nth-child(4) {
    grid-area: med2;
  }
}

@supports not (display: grid) {
  .grid {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    padding: 0.75vw;
  }

  .grid .item {
    min-height: 20vh;
    margin: 0.75vw;
  }

  .grid .item:nth-child(1) {
    flex: 0 1 calc(100% - 1.5vw);
    height: 50vh;
  }

  .grid .item:nth-child(2) {
    flex: 0 1 calc(100% - 1.5vw);
    height: 30vh;
  }

  .grid .item:nth-child(3) {
    flex: 0 1 calc(100% - 1.5vw);
  }

  .grid .item:nth-child(4) {
    flex: 0 1 calc(100% - 1.5vw);
  }

  @media screen and (min-width: 750px) {
    .grid .item:nth-child(1) {
      flex: 0 1 calc(60% - 1.5vw);
    }

    .grid .item:nth-child(2) {
      flex: 0 1 calc(40% - 1.5vw);
      height: 50vh;
    }
  }

  @media screen and (min-width: 1400px) {
    .grid .item:nth-child(1) {
      flex: 0 1 calc(60% - 1.5vw);
    }

    .grid .item:nth-child(2) {
      flex: 0 1 calc(40% - 1.5vw);
    }

    .grid .item:nth-child(3) {
      flex: 0 1 calc(50% - 1.5vw);
    }

    .grid .item:nth-child(4) {
      flex: 0 1 calc(50% - 1.5vw);
    }
  }
}

.grid .item {
  position: relative;
  padding: 1vw;
  background-position: left bottom;
  background-size: 150% 100%;
  transition: background 500ms, outline 500ms;
  background-position: top left;
  outline: transparent;
}

.grid .item:hover,
.grid .item:focus {
  background-position: top right;
}

.grid .item:focus {
  outline: 2px solid #3eabfa;
}

.grid .item:nth-child(1) {
  background-image: url(../IMG/pmb_bg_2.jpg);
}

.grid .item:nth-child(2) {
  background-image: url(../IMG/banner_4_2.jpg);
}

.grid .item:nth-child(3) {
  background-image: url(../IMG/belom\ dipake/images-777x437.jpg);
}

.grid .item:nth-child(4) {
  background-image: url(../IMG/6935-678x381.jpg);
}

/******************************************************End Grid Layout*********************************************************/
/****************************************************Start Filter Card*********************************************************/
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section {
  position: relative;
  bottom: 350px;
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/*****************************************************End Filter Card**********************************************************/
/***********************************************Start Page Background Video****************************************************/
.vid {
  position: relative;
  bottom: 330px;
}

.vid video {
  position: absolute;
  width: 100%;
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.stopfade {
  opacity: 0.5;
}

#polina {
  position: relative;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin: 9.5rem;
  float: right;
  font-size: 1.2rem;
}

#polina button {
  display: block;
  width: 80%;
  padding: 0.4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s background;
}

#polina button:hover {
  background: rgba(0, 0, 0, 0.5);
}

/************************************************End Page Background Video*****************************************************/
/***************************************************Start Hover Efect**********************************************************/
.kontainer {
  width: 100%;
  padding: 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.kontainer .kard {
  position: relative;
  margin-top: 100px;
  cursor: pointer;
}

.kontainer .kard .muka {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.kontainer .kard .muka.muka1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.kontainer .kard:hover .muka.muka1 {
  background: #ff0057;
  transform: translateY(0);
}

.kontainer .kard .muka.muka1 .countent {
  opacity: 0.2;
  transition: 0.5s;
}

.kontainer .kard:hover .muka.muka1 .countent {
  opacity: 1;
}

.kontainer .kard .muka.muka1 .countent img {
  max-width: 100px;
}

.kontainer .kard .muka.muka1 .countent h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.kontainer .kard .muka.muka2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.kontainer .kard:hover .muka.muka2 {
  transform: translateY(0);
}

.kontainer .kard .muka.muka2 .countent a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.kontainer .kard .muka.muka2 .countent a:hover {
  background: #333;
  color: #fff;
}

/****************************************************End Hover Efect***********************************************************/
/******************************************************Start Footer************************************************************/
.Animated {
  width: 99.5%;
  height: 98%;
  position: absolute;
  bottom: 5px;
  background: radial-gradient(circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 9, 92, 1) 100%);
  color: #fff;
  padding: 100px 0 5px;
  border-radius: 2.5%;
  font-size: 14px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logobot {
  width: 200px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.col h1 {
  width: 100%;
  margin-bottom: 25px;
}

.col h3 {
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
}

.email-id {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .fa-regular {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  border: none;
  color: #ccc;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fa-solid {
  font-size: 18px;
  color: #ccc;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 60%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  color: #000;
  background: #fff;
  margin-right: 5px;
  cursor: pointer;
}

hr {
  border-width: 1.5px;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: relative;
  top: 25px;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-bottom: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}

footer {
  width: 100%;
  height: 450px;
  position: absolute;
  display: grid;
  place-items: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}

footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(to right, maroon, black);
  background: linear-gradient(to right, maroon, black);
  animation: box01 10s linear infinite;
  transform-origin: center;
  animation: box 10s linear infinite;
}

@keyframes box {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*******************************************************End Footer*************************************************************/